<div class="container">
  <div class="content-heading">
    <h1 class="display-1">
      Users List:
    </h1>
  </div>
  <div class="content">
    <ng-container *ngIf="!loading">
      <table class="table">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="users.length > 0">
            <td>{{users[0].name.first}}</td>
            <td>{{users[0].name.last}}</td>
            <td>{{users[0].age}}</td>
          </tr>
          <tr *ngIf="users.length > 1">
            <td>{{users[1].name.first}}</td>
            <td>{{users[1].name.last}}</td>
            <td>{{users[1].age}}</td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination class="d-flex justify-content-end" [collectionSize]="users.length" aria-label="Default pagination"></ngb-pagination>
    </ng-container>
    <ng-container *ngIf="loading">
        <b>
          Loading ...
        </b>
        <p><ngb-progressbar value="100" [striped]="true" [animated]="true" type="info"></ngb-progressbar></p>
    </ng-container>
  </div>
</div>